.btn-w3r {
	background: #cb60b3;
	background: -moz-linear-gradient(top, #cb60b3 0%, #ad1283 50%, #de47ac 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cb60b3), color-stop(50%, #ad1283), color-stop(100%, #de47ac));
	background: -webkit-linear-gradient(top, #cb60b3 0%, #ad1283 50%, #de47ac 100%); 
	background: -o-linear-gradient(top, #cb60b3 0%, #ad1283 50%, #de47ac 100%);
	background: -ms-linear-gradient(top, #cb60b3 0%, #ad1283 50%, #de47ac 100%);
	background: linear-gradient(to bottom, #cb60b3 0%, #ad1283 50%, #de47ac 100%);
    width: 50px !important;
	height: 50px !important;
	-moz-border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	border-radius: 50% !important;
}

.btn-w3r:hover {
	color: #fff;
    background: #cb60b3;
	background: -moz-linear-gradient(top, #333 0%, #ad1283 50%, #333 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(50%, #ad1283), color-stop(100%, #333));
	background: -webkit-linear-gradient(top, #333 0%, #ad1283 50%, #333 100%); 
	background: -o-linear-gradient(top, #333 0%, #ad1283 50%, #333 100%);
	background: -ms-linear-gradient(top, #333 0%, #ad1283 50%, #333 100%);
	background: linear-gradient(to bottom, #333 0%, #ad1283 50%, #333 100%);
    width: 50px !important;
	height: 50px !important;
	-moz-border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	border-radius: 50% !important;
}
.btn-profile {
	background: #cb60b3;
	background: -moz-linear-gradient(top, #cb60b3 0%, #ad1283 50%, #de47ac 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cb60b3), color-stop(50%, #ad1283), color-stop(100%, #de47ac));
	background: -webkit-linear-gradient(top, #cb60b3 0%, #ad1283 50%, #de47ac 100%); 
	background: -o-linear-gradient(top, #cb60b3 0%, #ad1283 50%, #de47ac 100%);
	background: -ms-linear-gradient(top, #cb60b3 0%, #ad1283 50%, #de47ac 100%);
	background: linear-gradient(to bottom, #cb60b3 0%, #ad1283 50%, #de47ac 100%);
    width: 100px !important;
	height: 100px !important;
	-moz-border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	border-radius: 50% !important;
}
.image-profile {
	width: 100%;
	height: 90%;
	top: 0;
  	left: 0;
}
.buttonSide {
	width: 100%;
	background: #cb60b3;
}